.home-container {
  color: white;
  .main-video {
  }

  .video-feed {
    padding: 2rem;
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      li {
        margin-right: 2rem;
        margin-bottom: 5rem;
      }
    }
  }
}
