@import "./variables/fonts";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Avenir Roman", sans-serif;
  background: linear-gradient(#292c3c, #1b1c29);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
