@import "./variables/fonts";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Avenir Roman", sans-serif;
  background: rgb(29, 28, 28);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
